.cd {
  background-color: #bdffd5;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: #79a589 solid 0.4rem;
  border-radius: 0.4rem;
  padding: 2rem;
}

.cd-list {
  height: 80vh;
  /* width: 100%; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}